<html>
<head>
  <title>GitHub Terminal</title>
  <script language="JavaScript" type="text/javascript" src="js/termlib/termlib_min.js"></script>
  <script language="JavaScript" type="text/javascript" src="js/terminal.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <a class="button large blue" href="/auth">Login on GitHub</a>
</body>
</html>
