<html>
<head>
  <title>GitHub Terminal</title>
  <script language="JavaScript" type="text/javascript" src="js/termlib/termlib_min.js"></script>
  <script language="JavaScript" type="text/javascript" src="js/terminal.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <%= @user.name %> (<%= @user.login %>)<br/>
  <input id="token" type="hidden" value="<%= @user.token %>">
  <div id="termDiv" class="termopen"></div>
</body>
</html>
